---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>喜欢音乐</li>
            <li>喜欢周杰伦</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://twitter.com/austinit" target="_blank"> Twitter</a>
            </li>
            <li>
              <a href="https://github.com/austin2035" target="_blank">Github</a>
            </li>
            <li>
              <a href="https://github.com/Cassius0924" target="_blank">Github</a>
            </li>
            <li>
              <a href="https://gitee.com/Cassius0924" target="_blank">Gitee</a>
            </li>
            <li>
              <a href="https://b23.tv/udeobht" target="_blank">Bilibili</a>
            </li>
            <li>
              <a href="https://www.zhihu.com/people/cassius0924" target="_blank">Zhihu</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
