---
import { SITE_TITLE, SITE_EMAIL } from "../consts";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">Email: {SITE_EMAIL}</div>
          </div>

          <div class="item products">
            <div class="item-title">作品</div>
            <a href="/" target="_blank">个人博客</a>
          </div>

          <div class="item community">
            <div class="item-title">社媒</div>
            <a href="https://github.com/Cassius0924" target="_blank">Github</a>
            <a href="https://gitee.com/Cassius0924" target="_blank">Gitee</a>
            <a href="https://b23.tv/udeobht" target="_blank">Bilibili</a>
            <a href="https://www.zhihu.com/people/cassius0924" target="_blank">Zhihu</a>
          </div>

          <div class="item resources">
            <div class="item-title">友链</div>
            <a href="https://bearlele.top" target="_blank">Bear lele</a>
            <a href="https://www.moeyuame.top" target="_blank">Moeyuame</a>
            <a href="http://hjh.jerryestt.top/" target="_blank">Jerryestt</a>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`2023-${year}  ${SITE_NAME}`} 
          <a href="https://github.com/Cassius0924/Blog">Cassius0924's Blog</a>
        </div>
      </div>
    </div>
  </div>
</div>
